@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}
@-o-viewport {
  width: device-width;
  zoom: 1.0;
}
@viewport {
  width: device-width;
  zoom: 1.0;
}

html {
  height: 100% !important;
  background-attachment: fixed;
}

body {
  background: white !important;
  background-repeat: no-repeat;
  color: #91b1d4;
}

body a {
  color: #dae5f1;
}

body p {
  margin-bottom: 0rem;
}

body ul li {
  font-size: 0.85em;
  color: #3a4750;
}

body .subTitle {
  padding-top: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
  border-radius: 2px;
  color: white;
  text-align: left;
}

body .subTitleText {
  font-size: 1.55em;
}

body #flipToPowerSpan {
  text-align: center !important;
  display: block;
  width: 13%;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

body #indexAverageText {
  font-size: 1.35em;
  color: #2acf90;
}

body #percentChange {
  font-size: 1.35em;
}

body .subTitleIndividual {
  padding-top: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
  border-radius: 2px;
  font-weight: bold;
  color: #6c8fe0;
  text-align: left;
}

body .subTitleTextIndividual, body .subTitleTextIndividualSet {
  font-size: 1.95em;
  margin-left: 1%;
  border-bottom: 2px solid #6c8fe0;
}

body .subTitleTextIndividualSet {
  color: #3a4750 !important;
}

body .subTitleTextIndividual {
  border-bottom: none;
}

body .subTitleImageIndividual, body .subTitleImageIndex {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 3pt 2pt #3a4750;
          box-shadow: 0 0 3pt 2pt #3a4750;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body .activeImageThumbnail {
  -webkit-box-shadow: 0 0 3pt 2pt #3a4750 !important;
          box-shadow: 0 0 3pt 2pt #3a4750 !important;
}

body .flipButtonSet, body .flipButtonName {
  padding: 14px 25px;
  border-radius: 40px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  color: #3a4750;
  font-size: .95em;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-left: 1%;
}

body .flipButtonName {
  color: #3a4750;
}

body .indexDualsThumb {
  margin-left: 15px;
}

body img.subTitleImageIndex {
  margin-top: 15px;
  margin-bottom: 5px;
}

body {
  font-family: 'Fira Sans', sans-serif;
  height: 100%;
  text-align: left;
}

.icon {
  position: absolute;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  background-color: transparent !important;
}

li.nav-item.active a {
  font-size: 1.35em;
  color: #012f4b;
  text-decoration: none;
  padding-bottom: 0px;
}

.btn.focus, .btn:focus {
  outline: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.activeImageThumbnail {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 100%;
  max-width: 150px;
}

#button {
  margin-bottom: 10px;
  margin-left: 39%;
  color: #181f25;
  border: none;
  background-color: #1b94de;
}

#button.move {
  margin-left: 45% !important;
  border: none;
}

#wotc-rights, #copyright {
  font-size: .75em;
  color: #3a4750 !important;
}

.faqTitle {
  color: #181f25;
  font-size: 0.85em;
  background-color: #1b94de;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: .2rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(57, 70, 79)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dropdown-toggle {
  background-color: transparent;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.dropdown-menu {
  background-color: #011628;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border: 1px solid #3a4750;
}

.flipButtonWrapper:hover {
  background-color: none !important;
  background: none !important;
  border: none !important;
  color: none !important;
}

.flipButton, .flipButtonSet, .flipButtonName, .flipButtonSetGeneral {
  background-color: white;
  padding: 14px 15px;
  border-radius: 40px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  color: #6c8fe0;
  font-size: .95em;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-weight: normal;
}

.flipButtonSetGeneral {
  font-size: .55em;
}

span.flipButton:hover, span.flipButtonSet:hover, .flipButtonName:hover, .flipButtonSetGeneral:hover {
  background-color: white !important;
  padding: 14px 15px !important;
  border-radius: 40px !important;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14) !important;
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14) !important;
  color: #1b94de !important;
  font-size: 16px !important;
}

.indexDualsThumb:hover {
  background: none;
}

img.subTitleImageIndex:hover {
  background: none;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

img#alphaVolcanicImg:hover {
  -webkit-transform: none !important;
          transform: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

#alphaDualsThumb:hover {
  -webkit-transform: none !important;
          transform: none !important;
}

.card-container-home {
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 150px;
  padding-right: 150px;
}

#cardGrossPower, #cardGrossDuals, #cardCountPower, #cardCountDuals {
  background-color: #6c8fe0 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card-title-home, #cardTextGrossPower, #cardTextGrossDuals, #cardTextSmallPower, #cardTextSmallDuals, #cardTextCountPower, #cardTextCountDuals, #cardTextLengthPower, #cardTextLengthDuals {
  font-size: 1.85em !important;
  color: white;
  text-align: center;
}

#cardTextGrossPower, #cardTextGrossDuals {
  color: #2acf90;
}

#cardTextCountPower, #cardTextCountDuals {
  color: #e7a223;
}

#text-muted-home {
  font-size: 100% !important;
}

#cardTextGrossPower, #cardTextGrossDuals, #cardTextCountPower, #cardTextCountDuals, #cardTextLengthPower, #cardTextCountPower {
  font-size: 3.2em !important;
  font-weight: bold;
}

#cardTextSmallPower, #cardTextSmallDuals {
  font-size: 1.15em !important;
}

#cardGrossPowerBody, #cardGrossDualsBody, #cardCountPowerBody, #cardLengthPowerBody, #cardCountDualsBody, #cardLengthDualsBody {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

div#cardGrossPower, div#cardGrossDuals, div#cardCountPower, div#cardCountDuals {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

div#cardGrossPower:hover, div#cardGrossDuals:hover, div#cardCountPower:hover, div#cardCountDuals:hover {
  background-color: #819fe4 !important;
  -webkit-transform: scale(1.05) !important;
          transform: scale(1.05) !important;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#individualCardAveragePrice, #individualCardTotalSold, #individualCardAverageLength, #individualCardGross, #individualCardActive {
  color: #6c8fe0;
  text-align: center !important;
}

.individual-card-title {
  font-size: 1.10em;
}

.individual-card-text {
  font-size: 1.05em;
}

.individual-card-smol {
  font-weight: normal;
  color: #6c8fe0;
}

.cardIndividualLink {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block !important;
  background-color: transparent !important;
  margin-top: 50px !important;
  color: #3a4750;
}

.chevron {
  display: inline-block !important;
  margin-top: 5.7% !important;
  margin-left: 1% !important;
}

.card-container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.card {
  border: none;
  -webkit-box-shadow: .5px .5px .5px .5px lightgrey;
          box-shadow: .5px .5px .5px .5px lightgrey;
  border-radius: 15px;
}

.card-title {
  color: #6c8fe0;
  text-align: left;
}

h5.card-title-about {
  color: red !important;
}

.card-text {
  text-align: left;
}

.cardActivityText {
  color: #1b94de !important;
  border-bottom: 2px solid #1b94de;
}

.cardActivityPrice {
  color: #2acf90;
}

.cardGeneralCumulativeSum {
  color: #459e33;
}

.cardActivityAvg {
  color: #3a4750;
}

.cardActivityCount, .cardGeneralCount {
  color: #e7a223;
}

.cardActivityLength, span.cardGeneralLength {
  color: #c421c4;
}

.cardActivityDepth {
  color: #65d5f1;
}

span.cardGeneralTrend {
  color: #459e33;
}

.seeMore0, .seeMore1 {
  text-align: left;
}

.dualsNotifier {
  font-size: 1.05em;
  color: #5a6e7c !important;
  margin-top: 2%;
}

.table-responsive-sm {
  padding-bottom: 5px;
}

th {
  background-color: white;
  color: #6c8fe0;
  font-size: 1.05em;
  text-align: left;
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.tableTitles {
  margin: 0 !important;
  padding: 0 !important;
}

.odd {
  background-color: #f0f4ff;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.even {
  background-color: white;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.p
.page-item.active .page-link {
  border-color: #f0f4ff;
  background-color: #6c8fe0;
}

.fa-twitter, .fa-github, .fa-google {
  color: white !important;
}

.powerImg {
  margin-top: 1%;
}

.dualsImg, .powerImg {
  margin-left: auto;
  margin-right: auto;
  text-align: center !important;
}

a:hover {
  color: white !important;
  border-bottom: 2px solid #1b94de;
  background: #1b94de;
  text-decoration: none;
  padding-bottom: 0px;
}

a.link:hover {
  color: white !important;
}

#dark-light-button:hover {
  color: #1b94de !important;
  border-color: transparent !important;
}

.icon:hover {
  color: #58616a;
}

button#button:hover {
  color: white;
  background: #4fb4f3;
}

.snapshotCard3Url:hover {
  background: #1b94de;
  color: white !important;
}

.seeAll:hover {
  color: white !important;
}

.activeImageThumbnail:hover {
  -webkit-transform: scale(1.45);
          transform: scale(1.45);
}

.fa-twitter:hover {
  color: #1ca0f2 !important;
  background: transparent;
  border-bottom: none;
  -webkit-transform: scale(1.25) !important;
          transform: scale(1.25) !important;
}

.fa-github:hover {
  color: #6c5393 !important;
  background: transparent;
  border-bottom: none;
  -webkit-transform: scale(1.25) !important;
          transform: scale(1.25) !important;
}

.fa-google:hover {
  color: #db3336 !important;
  background: transparent;
  border-bottom: none;
  -webkit-transform: scale(1.25) !important;
          transform: scale(1.25) !important;
}

.copyright-end:hover {
  color: white !important;
  background: #1b94de;
}

.tableTitle:hover {
  color: white !important;
  background-color: #1b94de;
}

#seeMore0:hover, #seeMore1:hover {
  color: white !important;
}

.dropdown {
  font-size: .90em !important;
  background-color: transparent !important;
  border-bottom: none !important;
}

.dropdown-item {
  font-size: .90em !important;
  background-color: transparent !important;
  border-bottom: none !important;
}

.dropdown-item.active, .dropdown-item:active {
  color: white !important;
  font-size: .90em !important;
}

.dropdown-item.active, .dropdown-item:hover {
  color: white !important;
  font-size: .90em !important;
  border-bottom: none !important;
}

.dropdown-menu.dropdown-menu-right.show {
  background-color: #6c8fe0 !important;
  border: 1px solid #3a4750;
}

th:hover {
  background-color: #1b94de;
  color: white;
  border: none;
}

.page-link:hover {
  border-color: white;
  background-color: #6c8fe0;
  height: 100%;
}

.nav-link:hover {
  background: none !important;
  color: #1b94de !important;
  border: none !important;
  border-bottom: none !important;
  text-decoration: none !important;
  padding-bottom: 8px !important;
}

.nav-item, .nav-item-right {
  font-size: 1em !important;
}

.nav-link {
  font-size: 1.35em;
}

ul.dropdown-menu {
  background-color: #000;
}

ul.nav a {
  color: white !important;
}

body {
  height: calc(100vh - 8em);
}

.line-1 {
  color: white;
  position: relative;
  top: 20%;
  width: 24em;
  margin: 0 auto;
  border-right: 3px solid #dde5f8;
  font-size: 300%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.anim-typewriter {
  -webkit-animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 1250ms steps(44) infinite normal;
          animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 1250ms steps(44) infinite normal;
}

@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 21em;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 21em;
  }
}

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: #b3c5ef;
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #b3c5ef;
  }
  to {
    border-right-color: transparent;
  }
}

#home-nav, #home-div {
  -webkit-animation: fadeIn 3s 6s forwards;
          animation: fadeIn 3s 6s forwards;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .individual-card-title, .individual-card-text {
    font-size: .85em;
  }
}

@media (max-width: 1000px) {
  .line-1 {
    font-size: 180%;
  }
  .card-container-home {
    margin-top: 2%;
    margin-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 500px) {
  .line-1 {
    font-size: 90%;
  }
  .card-title-home, #cardTextGrossPower, #cardTextGrossDuals, #cardTextSmallPower, #cardTextSmallDuals, #cardTextCountPower, #cardTextCountDuals, #cardTextLengthPower, #cardTextLengthDuals {
    font-size: 1.05em !important;
  }
  .subTitleImageIndividual {
    width: 75px;
    height: 75px;
  }
  .individual-card-title, .individual-card-text {
    font-size: 150%;
  }
  .flipButton, .flipButtonSetGeneral {
    font-size: .35em !important;
  }
}

/* CSS rules for any device that is wider than 639 pixels */
/*# sourceMappingURL=styles.css.map */