<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {% include 'styles_generic.html' %}
    <title>About</title>
  </head>
<header style="background: #eee">
    {% include 'nav_generic.html' %}
</header>
<body id="body" class="dark-mode">
  <div id="container" style="background: rgba(17, 17, 17, 0.025)">
      <div class="col-12">
          <h5 class="card-title-about"><i class="fas fa-link"></i> What was your goal with this project?</h5>
          <p class="card-text">
        <ul>
          <li>My goal was to create a functional, interactive, and super lightweight web app that allows MTG players to keep tabs on Alpha, Beta, and Unlimited Power 9 from
              eBay. The idea is to measure power and, eventually, other cards that move in 'herds' (are closely correlated).

              <!-- <b>This was a learning project first and foremost</b>, so please be kind <i class="fas fa-heart"></i>. -->
              <b>This was a learning project first and foremost</b>, so please be kind 💗.
          </li>
        </ul>
        <!-- begin second question-->
        <h5 class="card-title-about"><i class="fas fa-link"></i> What stack did you build this with? Why?</h5>
      <p class="card-text">
        <ul>
          <li><a class="link" href="http://old-releases.ubuntu.com/releases/16.04.4/" target="_blank" style="color: hsl(203, 78%, 49%);">Linux</a>, <a class="link" href="https://www.nginx.com/" target="_blank" style="color: #1B95E0;">Nginx</a>, <a class="link" href="https://www.postgresql.org/" target="_blank" style="color: #1B95E0;">PostgreSQL</a>, <a class="link" href="https://www.javascript.com/" target="_blank" style="color: #1B95E0;">JavaScript</a>, and <a class="link" href="https://www.python.org/downloads/release/python-360/" target="_blank" style="color: #1B95E0;">Python</a> (shout-out to <a class="link" href="http://flask.pocoo.org/" target="_blank" style="color: #1B95E0;">Flask</a>). Fast to implement with, easy to iterate over, and great for working with anything data-related, especially data
                  needing to be populated by multiple unique scripts.</li>
          <li>Populated with eBay's <a class="link" href="https://developer.ebay.com/" target="_blank" style="color: hsl(203, 78%, 49%);">API</a>.</li>
          <li>Hosted through <a class="link" href="https://www.digitalocean.com/" target="_blank" style="color: hsl(203, 78%, 49%);">DigitalOcean</a>.</li>
        </ul>
        <!-- begin third question-->
        <h5 class="card-title-about"><i class="fas fa-link"></i> How often do you currently update the data?</h5>
      <p class="card-text">
        <ul>
          <li>I am currently fetching the data once a day via a scheduled cron job @ <s>12:30pm CST</s> 11:59PM UTC (6:59PM CST) for the time being 😳.</li>
        </ul>
        <!-- begin fourth question-->
        <h5 class="card-title-about"><i class="fas fa-link"></i> How and what exactly do you pre-filter?</h5>
      <p class="card-text">
        <ul>
          <li>I welcome any additions you may find, and you can view the code <a class="link" href="https://github.com/Cooops/abupower/blob/988155b037b09e7cf7fd57f048d02eebf33365e4/fetch_completed_products.py#L113" target="_blank" style="color: #1B95E0;">here</a>. For ease of viewing, here is a quick reference of some of the filtered keywords (using regex):
              <pre style="background-color: rgb(250, 250, 250); font-family: monospace; border: 1px solid #999; display: block; padding: 5px; margin-top: 5px;">["\bCOLLECTORS\b", "\bcollector's\b", "\bcollector's edition\b", "\binternational\b", "\binternationals\b", "\binternational edition\b", "\bposter\b", "\bproxy\b", "\bmisprint\b", <br>"\bpuzzle\b", "\bplaytest\b", "\berror\b", "\bpromo\b", "\bproxy\b", "\bframed\b", "\breprint\b", "\bbooster\b", "\bpack\b", "\bfactory sealed\b"....] and many more.</pre>
        </ul>
        <!-- begin fifth question-->
        <h5 class="card-title-about"><i class="fas fa-link"></i> What kind of range is your data based on?</h5>
      <p class="card-text">
        <ul>
            <li>Pretty much everything you see is based on a 90 day rolling average, with the exception being `Spot Price` and `Active Listing Count`.</li>
          </ul>
        <!-- begin last question-->
        <h5 class="card-title-about"><i class="fas fa-link"></i> Ask me some questions and I can add them here...</h5>
      <p class="card-text">
        <ul>
          <li>Maybe 😊.</li>
        </ul>
    </div>
  </div>
</body>
{% include 'footer.html' %}
</html>
